<div class="row">
<div class="col-md-8">
<%= simple_form_for(@promotion) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h4>Who do you want to sent promotion to:</h4>
    <% @tags.uniq.each do |tag|%>
      <p>
        <%= check_box_tag "tag_#{tag}".to_sym, 
          @promotion.promotion_tags.collect(&:tag).include?(tag.to_s), 
          @promotion.promotion_tags.collect(&:tag).include?(tag.to_s) ? :checked : nil %>
        <b><%= tag %></b>
        <i class="text-small">Up to <%= user_count(@tags, tag)%> members</i> 
      </p>
    <% end %>
    <%= f.hidden_field :retailer_id, value: current_retailer.id %>
    <h4>Your promotional message:</h4>
    <%= f.input :offer, label: 'What is the promotional offer? Include restrictions if any' %>
    <h4>What's the occation </h4>
    <%= f.input :occation, label: 'Displayed to customer only. Not displayed on POS' %>
    <h4>When the promotion is expiring</h4>
    <%= f.input :expiry_date, as: :string, input_html: {class: 'datepicker', readonly: true }, label: 'Starts immediately and can be valid for 30 days' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
</div>
<div class="col-md-4">
  <div class="panel panel-green">
    <div class="panel-heading">
      Test
    </div>
    <div class="panel-body">
      <p>
        <input type="text" id="test_contact_no" value="<%= current_retailer.setting.test_promotion_contact_no%>" placeholder: 'Mobile no.' />
        <input type="submit" id="sms-test" class="btn btn-primary" value="Send SMS">
      </p>
    </div>
  </div>
</div>
</div>
